# Configurações do Google Calendar / Gemini
SCOPES=https://www.googleapis.com/auth/calendar
GEMINI_API_KEY=SUA_GEMINI_API_KEY_AQUI

# Configurações da Evolution API (WhatsApp)
EVOLUTION_URL=http://localhost:8080
EVOLUTION_INSTANCE=Automacao-OS
EVOLUTION_API_KEY=SUA_EVOLUTION_API_KEY_AQUI

# ID do grupo de WhatsApp para envio e recebimento das O.S.
JID_WHATSAPP=SEU_ID_DO_GRUPO_DO_WWHATSAPP

# Arquivo JSON local
CAMINHO_JSON=Clientes/clientes_os.json